<button (click)="open(content)" type="submit" class="btn btn-success" style="width: 13rem; margin-bottom: 5px;">Pagar
    carrito</button>

<!-- Large modal -->
<div class="card-body">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Datos del pedido</h4>
            <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="colonia">Colonia</label>
                <input type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label for="calle">Calle</label>
                <input type="text" class="form-control" >
            </div>
            <div class="d-flex">
                <div class="form-group mr-3">
                    <label for="nE">Nu. Exterior</label>
                    <input type="text" class="form-control ml-1" >
                </div>
                <div class="form-group" style="margin-left: 5px;">
                    <label for="nI">Nu. Interior</label>
                    <input type="text" class="form-control ml-1" >
                </div>
            </div>

            <div class="form-group">
                <label for="CP">Codigo Postal</label>
                <input type="number" class="form-control ml-1" >
            </div>
            <br>
            <div class="align-content-end" style="margin-left: 380px;">
                <button type="submit" class="btn btn-success" (click)="AgregarPedidoModal()">Pagar</button>
            </div>

        </div>
    </ng-template>
</div>