<button (click)="open(content)" (click)="conter()" class="btn btn-success" style="width: 16rem;">Agregar al carrito</button>

<!-- Large modal -->
<div class="card-body">
    <ng-template #content let-c="close" let-d="dismiss" >
        <div class="modal-header" style="background-color: rgb(17, 188, 17)">
            <h4 class="modal-title" style="color: beige; margin-left: 50px;" >Producto agregado al carrito</h4>
            <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ng-template>
</div>