<div class="content">
  <div class="row">
    <div class="col">
      <button (click)="abrirDialogoCrearCuenta()" class="btn btn-success mt-4" type="button" style="background-image: linear-gradient(to left, #0fb268, 7.2%, #1c503e, #1c3c33);">
        Agregar
      </button>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label for="buscar" class="col-sm-2 col-form-label">Buscar:</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" matInput (keyup)="applyFilter(input.value)" placeholder="Ex. Roberto" #input />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label for="estatus" class="col-sm-4 col-form-label">Estatus:</label>
        <div class="col-sm-12">
          <select class="form-control" (change)="filtrarPorEstatus($event)">
            <option value="todos">Todos</option>
            <option value="activos">Activos</option>
            <option value="inactivos">Inactivos</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  

  <br />

  <div class="card mb-3">
    <div class="card-header" style="background-color: #D4BA72; font-weight: bold;">
    Usuarios
    </div>
    <div class="card-body table-responsive">
     <!-- Mostrar el indicador de carga si no hay datos -->
     <div *ngIf="dataSource.data.length === 0 && !showNoDataRow" class="loading-indicator">
      <mat-spinner diameter="70"></mat-spinner>
      
    </div>

      <table mat-table [dataSource]="dataSource" matSort class="table" *ngIf="dataSource.data.length > 0">
        <!-- ID Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nombre
          </th>
          <td mat-cell *matCellDef="let row"> {{ row.nombre }} </td>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Telefono
          </th>
          <td mat-cell *matCellDef="let row"> {{ row.telefono }} </td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Correo
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.usuario.email }}
          </td>
        </ng-container>

        <!-- Rol Column -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Rol
          </th>
          <td mat-cell *matCellDef="let row"> {{ row.usuario.rol }} </td>
        </ng-container>

        <!-- Estatus Column -->
        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Estatus
          </th>
          <td mat-cell *matCellDef="let row">
            <span style="font-weight: bold;" [style.color]="row.usuario.active === 1 ? 'green' : 'red'">
              {{ row.usuario.active === 1 ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>
            <span class="actions-header">Acciones</span>
          </th>
          <td mat-cell *matCellDef="let row" class="actions-cell">
            <!-- Mostrar botón de reactivar solo para usuarios inactivos -->
            <button mat-mini-fab color="primary" *ngIf="row.usuario.active === 0" (click)="reactivarUsuario(row.usuario.id)" style="background-color: #D4BA72;">
              <mat-icon>restore</mat-icon>
            </button>
            <!-- Mostrar botones de editar y eliminar solo para usuarios activos -->
            <button mat-mini-fab color="primary" *ngIf="row.usuario.active === 1" style="background-color: #D4BA72;" (click)="abrirDialogoEditarCuenta(row.idpersona)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" *ngIf="row.usuario.active === 1" class="mx-2" (click)="eliminarUsuario(row.usuario.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Fila mostrada cuando no hay datos coincidentes. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6" *ngIf="showNoDataRow">
            No se encontraron datos con "{{ input.value }}"
          </td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
