<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="form-header">
            <div class="title">
              <h1>Editar Receta</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <!-- Contenido del primer card -->
                <div class="card-body">
                  <div class="demo-button-container">
                    <button mat-raised-button (click)="addData()" class="demo-button">
                      Agregar
                    </button>
                    <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="removeData()"
                      class="demo-button">
                      Remover
                    </button>
                    <button mat-raised-button [disabled]="!changesPending" (click)="guardar()" class="demo-button">
                      Guardar
                    </button>
                  </div>

                  <div class="scrollable-table">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                      <!-- Insumo Column -->
                      <ng-container matColumnDef="nombreInsumo">
                        <th mat-header-cell *matHeaderCellDef>Insumo</th>
                        <td mat-cell *matCellDef="let element">
                          <mat-select [(ngModel)]="element.selectedInsumo"
                            (selectionChange)="onInsumoSelected(element)">
                            <mat-option *ngFor="let insumo of insumos" [value]="insumo">
                              {{ insumo.nombreInsumo }}
                            </mat-option>
                          </mat-select>
                        </td>
                      </ng-container>
                      <!-- Precio Column -->
                      <ng-container matColumnDef="precio">
                        <th mat-header-cell *matHeaderCellDef>Precio</th>
                        <td mat-cell *matCellDef="let element">{{ element.selectedInsumo?.precio | currency }}</td>
                      </ng-container>


                      <!-- Unidad Column -->
                      <ng-container matColumnDef="unidad">
                        <th mat-header-cell *matHeaderCellDef>Unidad</th>
                        <td mat-cell *matCellDef="let element">{{ element.selectedInsumo?.unidad }}</td>
                      </ng-container>

                      <!-- Cantidad Column -->
                      <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                        <td mat-cell *matCellDef="let element" class="cantidad-cell">
                          <input type="number" [(ngModel)]="element.cantidad" (change)="onCantidadChange(element)"
                            class="form-control form-control-sm" inputmode="numeric" min="0" />
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
                </div>
                <!-- Contenido del primer card -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <!-- Contenido del segundo card -->
                <div class="card-body">
                  <div class="input-group">
                    <div class="input-box">
                      <label for="nombre"><i class="fas fa-utensils"></i> Nombre de la Receta</label>
                      <input id="nombre" type="text" name="nombre" placeholder="Ingrese el nombre de la receta" required
                        [(ngModel)]="receta.nombre">
                    </div>
                    <!-- ... Otras cajas de entrada ... -->
                    <div class="input-box">
                      <label for="descripcion"><i class="fas fa-utensils"></i> Descripción de la Receta</label>
                      <textarea id="descripcion" name="descripcion" placeholder="Ingrese la descripción de la receta"
                        required [(ngModel)]="receta.descripcion"></textarea>
                    </div>

                    <div class="input-box">
                      <label for="costoProduccion"><i class="fas fa-dollar-sign"></i> Costo de Producción</label>
                      <input id="costoProduccion" type="number" name="costoProduccion"
                        placeholder="Ingrese el costo de producción" [value]="costoProduccionTotal" disabled
                        [(ngModel)]="receta.costoProduccion">
                    </div>

                    <div class="input-box">
                      <label for="precioVenta"><i class="fas fa-dollar-sign"></i> Precio de Venta</label>
                      <input id="precioVenta" type="number" name="precioVenta" placeholder="Ingrese el precio de venta"
                        required inputmode="numeric" min="0" [(ngModel)]="receta.precioVenta" />



                    </div>
                  </div>
                  <!-- Contenido del segundo card -->
                </div>
              </div>
            </div>

            <div class="continue-button d-flex justify-content-center">
              <!-- Botones de cancelar y agregar -->
              <button type="button" class="btn btn-secondary mx-3" (click)="cancelar()">
                Cancelar
              </button>
              <button type="submit" class="btn btn-custom" [disabled]="!formularioValido() || costoProduccionTotal <= 0"
                (click)="actualizarReceta()">
                Agregar
              </button>
              <!-- Botones de cancelar y agregar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>