<div class="body">
    <div class="container">
        <div class="form-image">
            <img src="./assets/imagenes/LandingPage/logoSF.png" alt="">
        </div>
        <div class="form" (submit)="crearCuenta($event)">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Crear cuenta</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nombre</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Ingrese su primer nombre" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Apellido Paterno</label>
                        <input id="lastname" type="text" name="lastname" placeholder="Ingrese su apellido paterno" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Apellido Materno</label>
                        <input id="email" type="email" name="email" placeholder="Ingrese su apellido materno" required>
                    </div>
                    
                    <div class="input-box">
                        <label for="password">Correo</label>
                        <input id="correo" type="email" name="correo" placeholder="Ingrese su correo" required>
                    </div>

                   

                    

                    <div class="input-box">
                        <label for="number">Teléfono</label>
                        <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    

                   

                    <div class="input-box">
                        <label for="password">Contraseña</label>
                        <input id="password" type="password" name="password" placeholder="Ingrese su contraseña" required>
                    </div>


                  
                </div>
                <div class="continue-button">
                    <button style="width: 100%;"><a href="#">Continuar</a></button>
                </div>
            </form>
        </div>
    </div>


</div>